{% extends "panel/base.html" %}
{% block content %}

    {% load website_extras %}
    <!-- Main Header -->
    {% include "panel/includes/main_header.html" %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include "panel/includes/aside.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 id="page-header">Add New Member<small class="hide">Optional description</small></h1>
            <ol class="breadcrumb hide">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div class="hide" style="padding: 10px">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if members %}
                                    <h3>{{ members.count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>Members</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>
            </div>

                <div class="row" style="padding: 20px">
                    <a href="/panel/{{ user.id }}/members/" class="btn btn-info btn-sm">
                        Back to Members <i class="fa fa-arrow-circle-left"></i>
                    </a>
                </div><br/>

            <div class="box box-info">
                <div class="box-header">

                </div>
                <div class="box-body" style="font-size: large; line-height: 30px">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12" style="display: block; margin: auto">
                            {% if member_photo %}
                                <img src="/media/{{ member_photo.document.name }}" class="img-thumbnail"
                                     alt="User Image" style="width: 150px;">
                            {% else %}
                                <img src="/media/photographs/avatar_error.jpg" class="img-circle" alt="User Image">
                            {% endif %}
                            <br/>
                            <div class="table-responsive">
                                <table class="display table table-vcenter" border="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Spiritual Name</td>
                                            <td>{{ member_profile.spiritual_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ministry</td>
                                            <td>{{ single_member.ministry.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Departments</td>
                                            {% for department in member_departments %}
                                                <td>{{ department.name }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>Name</td>
                                            <td>
                                                <span>{{ member_profile.last_name }}, </span>
                                                <span>{{ member_profile.first_name }}</span>
                                                <span>{{ member_profile.other_names }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td>
                                                {{ member_profile.phone }}
                                                {% if member_info.second_phone %}
                                                    <br/>{{ member_info.second_phone }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>
                                                {{ member_profile.email }}
                                                {% if member_info.second_email %}
                                                    <br/>{{ member_info.second_email }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>
                                                {{ member_profile.gender }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Marital Status</td>
                                            <td>
                                                {{ member_profile.marital_status }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Emergency Contact Name</td>
                                            <td>
                                                {{ member_info.emergency_contact_name }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Emergency Contact Phone</td>
                                            <td>
                                                {{ member_info.emergency_contact_phone }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Emergency Contact Email</td>
                                            <td>
                                                {{ member_info.emergency_contact_email }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12 table-responsive">
                            <table class="display table table-vcenter">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Date of Birth:</td>
                                        <td>{{ member_profile.dob }}</td>
                                    </tr>
                                    <tr>
                                        <td>Place of Birth:</td>
                                        <td>{{ member_info.place_of_birth }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nationality:</td>
                                        <td>{{ member_info.nationality }}</td>
                                    </tr>
                                    <tr>
                                        <td>Ethnicity:</td>
                                        <td>{{ member_info.ethnicity }}</td>
                                    </tr>
                                    <tr>
                                        <td>Hometown:</td>
                                        <td>{{ member_info.hometown }}</td>
                                    </tr>
                                    <tr>
                                        <td>Region:</td>
                                        <td>{{ member_info.region }}</td>
                                    </tr>
                                    <tr>
                                        <td>Languages:</td>
                                        <td>{{ member_info.languages }}</td>
                                    </tr>
                                    <tr>
                                        <td>Residence Country:</td>
                                        <td>{{ member_info.residence_country }}</td>
                                    </tr>
                                    <tr>
                                        <td>Residence City:</td>
                                        <td>{{ member_info.residence_city }}</td>
                                    </tr>
                                    <tr>
                                        <td>Postal Address:</td>
                                        <td>{{ member_info.postal }}</td>
                                    </tr>
                                    <tr>
                                        <td>Residence City:</td>
                                        <td>{{ member_info.residence_city }}</td>
                                    </tr>
                                    <tr>
                                        <td>Residential Address:</td>
                                        <td>{{ member_info.residential }}</td>
                                    </tr>
                                    <tr>
                                        <td>Interest / Hobbies:</td>
                                        <td>{{ member_info.interests }}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Educational Information</h3>

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Programme</th>
                                            <th>Qualification</th>
                                            <th>Institution</th>
                                            <th>House</th>
                                            <th>Year</th>
                                            <th>Month</th>
                                            <th>Day</th>
                                            <th>Present</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for education in member_education %}
                                            <tr>
                                                <td>
                                                    {{ education.programme }}
                                                </td>
                                                <td>
                                                    {{ education.qualification }}
                                                </td>
                                                <td>
                                                    {{ education.institution }}
                                                </td>
                                                <td>
                                                    {{ education.house }}
                                                </td>
                                                <td>
                                                    {{ education.year }}
                                                </td>
                                                <td>
                                                    {{ education.month }}
                                                </td>
                                                <td>
                                                    {{ education.day }}
                                                </td>
                                                <td>
                                                    {% if education.present %}
                                                        <span><i class="fa fa-check" style="color: green; font-size: 18px"></i></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% comment %}<div class="box-header with-border">
                                <h3 class="box-title">Employment Information</h3>
                            </div>{% endcomment %}
                            <h3>Employment Information</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>Position</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Description</th>
                                            <th>Present</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for employment in member_employments %}
                                            <tr>
                                                <td>
                                                    {{ employment.company }}
                                                </td>
                                                <td>
                                                    {% if employment.position %}
                                                        {{ employment.position }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if employment.employment_date %}
                                                        {{ employment.employment_date }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if employment.resignation_date %}
                                                        {{ employment.resignation_date }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ employment.description }}
                                                </td>
                                                <td>
                                                    {% if employment.present %}
                                                        <span><i class="fa fa-check" style="color: green; font-size: 18px"></i></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% comment %}<div class="box-header with-border">
                                <h3 class="box-title">Family Information</h3>
                            </div>{% endcomment %}
                            <h3>Family Information</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Category</th>
                                            <th>Occupation</th>
                                            <th>Gender</th>
                                            <th>Deceased</th>
                                            <th>Retired</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for family_member in family_members %}
                                            <tr>
                                                <td>
                                                    {{ family_member.name }}
                                                </td>
                                                <td>
                                                    {% if family_member.phone %}
                                                        {{ family_member.phone }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if family_member.email %}
                                                        {{ family_member.email }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if family_member.category %}
                                                        {{ family_member.category }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if family_member.occupation %}
                                                        {{ family_member.occupation }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ family_member.gender }}
                                                </td>
                                                <td>
                                                    {% if family_member.deceased %}
                                                        <span><i class="fa fa-check" style="color: green; font-size: 18px"></i></span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if family_member.deceased %}
                                                        <span><i class="fa fa-check" style="color: green; font-size: 18px"></i></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            {% comment %}Training Leaders, Transforming Generations, Representing Divinity!!!{% endcomment %}
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="http://smartempiregh.com">Smart Empire</a>.</strong> All rights reserved.
    </footer>

{% endblock %}

