            <div id="ministries_panel" style="padding: 10px" class="hide">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if ministries %}
                                    <h3>{{ count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>ministries</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>

                <div class="row">
                    <a href="/panel/{{ user.id }}/ministries/new/" class="btn btn-info btn-sm">
                        Enter New Ministry <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div><br/>

                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">List of Ministries</h3>
                        </div>
                        <div class="box-body">
                            <table id="ministries-list" class="display table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Coordinators</th>
                                        <th>No. of Members</th>
                                        <th>Purpose</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ministry in ministries %}
                                        <tr id="{{ ministry.id }}">
                                            <td>{{ ministry.id }}</td>
                                            <td>{{ ministry.name }}</td>
                                            <td>{{ ministry.coordinators }}</td>
                                            <td>{{ ministry.member_count }}</td>
                                            <td>{{ ministry.purpose }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Coordinators</th>
                                        <th>No. of Members</th>
                                        <th>Purpose</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

