{% extends "panel/base.html" %}
{% block content %}

    {% load website_extras %}
    <!-- Main Header -->
    {% include "panel/includes/main_header.html" %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include "panel/includes/aside.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 id="page-header">Add New Member<small class="hide">Optional description</small></h1>
            <ol class="breadcrumb hide">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div style="padding: 10px">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if members %}
                                    <h3>{{ members.count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>Members</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>
            </div>

            <div class="box box-info">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <form id="js-add-new-member" method="post" action="/panel/{{ user.id }}/members/new/">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group has-feedback">
                                    <input name="spiritual_name" type="text" class="form-control"
                                           placeholder="Spiritual Name">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>
                                        <select name="ministry_id" class="form-control">
                                            <option value="0">Please Select Member's Ministry</option>
                                            {% for ministry in ministries %}
                                                <option value="{{ ministry.id }}">{{ ministry.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>
                                        <select name="first_department_id" class="form-control">
                                            <option value="0">Please Select Member's Department</option>
                                            {% for department in departments %}
                                                <option value="{{ department.id }}">{{ department.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>
                                        <select name="second_dept_id" class="form-control">
                                            <option value="0">Please Select Second Department (if any)</option>
                                            {% for department in departments %}
                                                <option value="{{ department.id }}">{{ department.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>
                                        <select name="third_department_id" class="form-control">
                                            <option value="0">Please Select Third Department (if any)</option>
                                            {% for department in departments %}
                                                <option value="{{ department.id }}">{{ department.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="first_name" type="text" class="form-control" placeholder="First Name">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="phone" type="text" class="form-control" placeholder="Phone number">
                                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="second_phone" type="text" class="form-control"
                                           placeholder="2nd Phone number">
                                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="email" type="text" class="form-control" placeholder="Email">
                                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="second_email" type="text" class="form-control" placeholder="2nd Email">
                                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <textarea name="other_names" class="form-control" placeholder="Other Names"></textarea>
                                </div>
                                <div class="form-group has-feedback form-inline">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" id="gender" value="Male">
                                            Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" id="gender" value="Female">
                                            Female
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback form-inline">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="marital_status" id="marital_status" value="Single">
                                            Single
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="marital_status" id="marital_status" value="Married">
                                            Married
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="marital_status" id="marital_status" value="Divorced">
                                            Divorced
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="marital_status" id="marital_status" value="Widowed">
                                            Widowed
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="emergency_contact_name" type="text" class="form-control"
                                           placeholder="Emergency Contact Name">
                                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="emergency_contact_phone" type="text" class="form-control"
                                           placeholder="Emergency Contact Phone">
                                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="emergency_contact_email" type="text" class="form-control"
                                           placeholder="Emergency Contact Email">
                                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group has-feedback">
                                    <input class="input-sm input-s datepicker-input form-control" type="text" style="font-size: 14px"
                                           name="dob_date" data-date-format="yyyy-mm-dd" placeholder="Date of Birth">
                                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <textarea name="place_of_birth" class="form-control" placeholder="Place of Birth"></textarea>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="nationality" type="text" class="form-control" placeholder="Nationality">
                                    
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="ethnicity" type="text" class="form-control" placeholder="Ethnicity">
                                    
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="hometown" type="text" class="form-control" placeholder="Hometown">
                                    
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="region" type="text" class="form-control" placeholder="Region">
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="languages" type="text" class="form-control" placeholder="Languages">
                                    
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="residence_country" type="text" class="form-control"
                                           placeholder="Country of Residence">
                                    
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="residence_city" type="text" class="form-control"
                                           placeholder="City of Residence">
                                    
                                </div>
                                <div class="form-group has-feedback">
                                    <textarea name="postal" class="form-control" placeholder="Postal Address"></textarea>
                                </div>
                                <div class="form-group has-feedback">
                                    <textarea name="residential" class="form-control" placeholder="Residence"></textarea>
                                </div>
                                <div class="form-group has-feedback">
                                    <textarea name="interests" class="form-control" placeholder="Interests / Hobbies"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <h3>Educational Information</h3>

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Programme</th>
                                            <th>Qualification</th>
                                            <th>Institution</th>
                                            <th>House</th>
                                            <th>Year</th>
                                            <th>Month</th>
                                            <th>Day</th>
                                            <th>Present</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in education_count %}
                                            <tr>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'programme_1' }}" type="text" class="form-control"
                                                               placeholder="Programme">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'qualification_1' }}" type="text" class="form-control"
                                                               placeholder="Qualification">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'institution_1' }}" type="text" class="form-control"
                                                               placeholder="Institution">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'house_1' }}" type="text" class="form-control"
                                                               placeholder="House">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'year_1' }}" type="text" class="form-control"
                                                               placeholder="Year">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <label>
                                                            <select name="{{ i | generate_name:'month_1' }}" class="form-control">
                                                                <option value="0">Month</option>
                                                                {% for month in months %}
                                                                    <option value="{{ month | month_index }}">{{ month }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'day_1' }}" type="text" class="form-control"
                                                               placeholder="Day">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback form-inline">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="{{ i | generate_name:'education_present_1' }}"
                                                                       id="{{ i | generate_name:'education_present_1' }}" value="True">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                {% comment %}<div class="box-header with-border">
                                    <h3 class="box-title">Employment Information</h3>
                                </div>{% endcomment %}
                                <h3>Employment Information</h3>

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>Position</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Description</th>
                                            <th>Present</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in education_count %}
                                            <tr>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'employment_company_1' }}" type="text" class="form-control"
                                                               placeholder="Company or Institution">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'employment_position_1' }}" type="text" class="form-control"
                                                               placeholder="Position">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input class="input-sm input-s datepicker-input form-control" type="text" style="font-size: 14px"
                                                               name="{{ i | generate_name:'employment_date_1' }}" data-date-format="yyyy-mm-dd"
                                                               placeholder="Employment Date">
                                                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input class="input-sm input-s datepicker-input form-control" type="text" style="font-size: 14px"
                                                               name="{{ i | generate_name:'resignation_date_1' }}" data-date-format="yyyy-mm-dd"
                                                               placeholder="Resignation Date">
                                                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <textarea name="{{ i | generate_name:'company_description_1' }}"
                                                                  class="form-control" rows="2"
                                                                  placeholder="Description"></textarea>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback form-inline">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="{{ i | generate_name:'employment_current_1' }}"
                                                                       id="{{ i | generate_name:'employment_current_1' }}" value="True">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                {% comment %}<div class="box-header with-border">
                                    <h3 class="box-title">Family Information</h3>
                                </div>{% endcomment %}
                                <h3>Family Information</h3>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Category</th>
                                            <th>Occupation</th>
                                            <th>Gender</th>
                                            <th>Deceased</th>
                                            <th>Retired</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in relatives_count %}
                                            <tr>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'relative_name_1' }}" type="text" class="form-control"
                                                               placeholder="Name">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'relative_phone_1' }}" type="text" class="form-control"
                                                               placeholder="Phone">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'relative_email_1' }}" type="text" class="form-control"
                                                               placeholder="Email">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <label for="{{ i | generate_name:'relative_category_1' }}">
                                                            <select name="{{ i | generate_name:'relative_category_1' }}" id="{{ i | generate_name:'relative_category_1' }}">
                                                                <option value="Father">Father</option>
                                                                <option value="Mother">Mother</option>
                                                                <option value="Brother">Brother</option>
                                                                <option value="Sister">Sister</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <input name="{{ i | generate_name:'relative_occupation_1' }}" type="text" class="form-control"
                                                               placeholder="Occupation">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback">
                                                        <label for="{{ i | generate_name:'relative_gender_1' }}">
                                                            <select name="{{ i | generate_name:'relative_gender_1' }}" id="{{ i | generate_name:'relative_gender_1' }}">
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback form-inline">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="{{ i | generate_name:'relative_deceased_1' }}"
                                                                       id="{{ i | generate_name:'relative_deceased_1' }}" value="True">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group has-feedback form-inline">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="{{ i | generate_name:'relative_retired_1' }}"
                                                                       id="{{ i | generate_name:'relative_retired_1' }}" value="True">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">

                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <br/>
                                <button name="add_new_member" type="submit" class="btn btn-success" data-dismiss="modal">
                                    Add New Member
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="box box-info">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <div id="content" class="colM">
                        <h1>Add employee</h1>
                        <div id="content-main">
                            <form enctype="multipart/form-data" action="" method="post" id="employee_form" novalidate="">
                                <input type="hidden" name="csrfmiddlewaretoken" value="0JltUc7IxpC6N11EiV5hi0zWpJSksVuGyFdRN1N2qw1ee9J1YWeIjvgrJ4ONsq77">
                                <div>
                                    <fieldset class="module aligned ">
                                        <div class="form-row field-user">
                                            <div>
                                                <label class="required" for="id_user">User:</label>
                                                <div class="related-widget-wrapper">
                                                    <select name="user" required="" id="id_user">
                                                        <option value="" selected="">---------</option>
                                                        <option value="1">Paul	Fleischer</option>
                                                    </select>
                                                    <a class="related-widget-wrapper-link change-related"
                                                       id="change_id_user"
                                                       data-href-template="/admin/intranet/userprofile/__fk__/change/?_to_field=id&amp;_popup=1"
                                                       title="Change selected user profile">
                                                        <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                                    </a>
                                                    <a class="related-widget-wrapper-link add-related" id="add_id_user"
                                                       href="/admin/intranet/userprofile/add/?_to_field=id&amp;_popup=1"
                                                       title="Add another user profile">
                                                        <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row field-title">
                                            <div>
                                                <label for="id_title">Title:</label>
                                                <input type="text" name="title" id="id_title" class="vTextField" maxlength="100">
                                            </div>
                                        </div>
                                        <div class="form-row field-departments">
                                            <div>
                                                <label for="id_departments">Departments:</label>
                                                <div class="related-widget-wrapper">
                                                    <select name="departments" id="id_departments">
                                                        <option value="" selected="">---------</option>
                                                    </select>
                                                    <a class="related-widget-wrapper-link change-related"
                                                       id="change_id_departments"
                                                       data-href-template="/admin/intranet/department/__fk__/change/?_to_field=id&amp;_popup=1"
                                                       title="Change selected department">
                                                        <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                                    </a>
                                                    <a class="related-widget-wrapper-link add-related"
                                                       id="add_id_departments"
                                                       href="/admin/intranet/department/add/?_to_field=id&amp;_popup=1"
                                                       title="Add another department">
                                                        <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row field-supervisor">
                                            <div>


                        <label for="id_supervisor">Supervisor:</label>

                            <input type="text" name="supervisor" id="id_supervisor" class="vTextField" maxlength="100">



                </div>

        </div>

        <div class="form-row field-is_employee">


                <div class="checkbox-row">


                        <input type="checkbox" name="is_employee" checked="" id="id_is_employee"><label class="vCheckboxLabel" for="id_is_employee">Is employee</label>


                </div>

        </div>

        <div class="form-row field-is_supervisor">


                <div class="checkbox-row">


                        <input type="checkbox" name="is_supervisor" id="id_is_supervisor"><label class="vCheckboxLabel" for="id_is_supervisor">Is supervisor</label>


                </div>

        </div>

        <div class="form-row field-office_location">


                <div>


                        <label for="id_office_location">Office location:</label>

                            <input type="text" name="office_location" id="id_office_location" class="vTextField" maxlength="100">



                </div>

        </div>

        <div class="form-row field-office_email">


                <div>


                        <label for="id_office_email">Office email:</label>

                            <input type="text" name="office_email" id="id_office_email" class="vTextField" maxlength="50">



                </div>

        </div>

        <div class="form-row field-office_phone">


                <div>


                        <label for="id_office_phone">Office phone:</label>

                            <input type="text" name="office_phone" id="id_office_phone" class="vTextField" maxlength="15">



                </div>

        </div>

        <div class="form-row field-start_date">


                <div>


                        <label for="id_start_date">Start date:</label>

                            <input type="text" name="start_date" id="id_start_date" class="vDateField" size="10"><span class="datetimeshortcuts">&nbsp;<a href="javascript:DateTimeShortcuts.handleCalendarQuickLink(0, 0);">Today</a>&nbsp;|&nbsp;<a href="javascript:DateTimeShortcuts.openCalendar(0);" id="calendarlink0"><img src="/missing-admin-media-prefix/img/icon_calendar.gif" alt="Calendar"></a></span>



                </div>

        </div>

</fieldset>













<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save">


<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">
</div>



    <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="employee">
    </script>




<script type="text/javascript" id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>


</div>
</form></div>


        <br class="clear">
    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            {% comment %}Training Leaders, Transforming Generations, Representing Divinity!!!{% endcomment %}
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="http://smartempiregh.com">Smart Empire</a>.</strong> All rights reserved.
    </footer>

{% endblock %}
