{% extends "panel/base.html" %}
{% block content %}

    <!-- Main Header -->
    {% include "panel/includes/main_header.html" %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include "panel/includes/aside.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 id="page-header">Page Header<small>Optional description</small></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div style="padding: 10px">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if sales %}
                                    <h3>{{ sales.count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>Sales</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>
            </div>

            <div class="box box-info">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <form id="js-add-new-sale" method="post" action="/panel/{{ user.id }}/records/sales/new/">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <input name="sale_quantity" type="text" class="form-control"
                                           placeholder="Sale Quantity">
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>Sale Nature</label>
                                    <select class="form-control" name="sale_nature">
                                        <option value="Direct">Direct</option>
                                        <option value="Online">Online</option>
                                    </select>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>Product Sold</label>
                                    <select class="form-control" name="sale_product">
                                        {% for product in products %}
                                            <option value="{{ product.id }}">{{ product.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>Notes</label>
                                    <textarea name="sale_notes" class="form-control" placeholder="Notes">
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <input class="input-sm input-s datepicker-input form-control" type="text" style="font-size: 14px"
                                           name="call_date" data-date-format="yyyy-mm-dd" placeholder="Sale Date">
                                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>Currency</label>
                                    <select class="form-control" name="sale_currency">
                                        {% for currency in currencies %}
                                            <option value="{{ currency.id }}">{{ currency.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group has-feedback">
                                    <input name="sale_amount" type="text" class="form-control"
                                           placeholder="Sale Amount. Example: 500.00">
                                <span class="glyphicon glyphicon-usd form-control-feedback"></span>
                                </div>

                                <button name="add_new_sale" type="submit" class="btn btn-success" data-dismiss="modal">
                                    Add New Sale Record
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    {% include "panel/includes/mini_footer.html" %}

{% endblock %}