            <div id="products_panel" style="padding: 10px" class="hide">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if products %}
                                    <h3>{{ products.count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>Products</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>

                <div class="row">
                    <a href="/panel/{{ user.id }}/products/new/" class="btn btn-info btn-sm">
                        Enter New Product <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div><br/>

                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">List of Products</h3>
                        </div>
                        <div class="box-body">
                            <table id="product-list" class="display table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Product Name</th>
                                        <th>Type</th>
                                        <th>Quantity</th>
                                        <th>Variation</th>
                                        <th>Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr id="{{ product.id }}">
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.type }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td>{{ product.variation }}</td>
                                            <td>{{ product.label }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Product Name</th>
                                        <th>Type</th>
                                        <th>Quantity</th>
                                        <th>Variation</th>
                                        <th>Label</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

