            <div id="products_panel" style="padding: 10px" class="hide">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if businesses %}
                                    <h3>{{ businesses.count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>businesses</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>

                <div class="row">
                    <a href="/panel/{{ user.id }}/businesses/new/" class="btn btn-info btn-sm">
                        Enter New Business <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div><br/>

                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">List of businesses</h3>
                        </div>
                        <div class="box-body">
                            <table id="business-list" class="display table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Business Name</th>
                                        <th>Type</th>
                                        <th>Quantity</th>
                                        <th>Variation</th>
                                        <th>Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for business in businesses %}
                                        <tr id="{{ business.id }}">
                                            <td>{{ business.id }}</td>
                                            <td>{{ business.name }}</td>
                                            <td>{{ business.type }}</td>
                                            <td>{{ business.quantity }}</td>
                                            <td>{{ business.variation }}</td>
                                            <td>{{ business.label }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Business Name</th>
                                        <th>Type</th>
                                        <th>Quantity</th>
                                        <th>Variation</th>
                                        <th>Label</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

