{% extends "panel/base.html" %}
{% block content %}

    {% load website_extras %}
    <!-- Main Header -->
    {% include "panel/includes/main_header.html" %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include "panel/includes/aside.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 id="page-header">404<small>Error Occurred</small></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Error</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow"> 404</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! An error occurred. Kindly contact your administrator</h3>
                    <p>
                        {{ error_message }}<br/>
                        Meanwhile, you may <a href="/panel/{{ user.id }}/">return to dashboard</a>{% comment %} or try using the search form.{% endcomment %}
                    </p>

                    {% comment %}<form class="search-form">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.input-group -->
                    </form>{% endcomment %}
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->

        <div class="clearfix"></div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
{#        <div class="pull-right hidden-xs">Anything you want</div>#}
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="#">Smart Empire</a>.</strong> All rights reserved.
    </footer>

    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/app.min.js"></script>
    <script src="/static/js/panel.app.js"></script>
{% endblock %}