<script src="/static/js/app.min.js"></script>
<script src="/static/js/raphael-min.js"></script>
<script src="/static/js/morris.js"></script>
<script src="/static/js/highcharts/highcharts.js"></script>
<script src="/static/js/highcharts/modules/exporting.js"></script>

{# DataTables #}
<script src="/static/js/datatables/jquery.dataTables.min.js"></script>
<script src="/static/js/datatables/dataTables.tableTools.min.js"></script>
<script src="/static/js/datatables/dataTables.buttons.min.js"></script>
<script src="/static/js/datatables/buttons.flash.min.js"></script>
<script src="/static/js/datatables/jszip.min.js"></script>
<script src="/static/js/datatables/pdfmake.min.js"></script>
<script src="/static/js/datatables/vfs_fonts.js"></script>
<script src="/static/js/datatables/buttons.html5.min.js"></script>
<script src="/static/js/datatables/buttons.print.min.js"></script>

<script src="/static/js/datatables/jquery.jeditable.js"></script>
<script src="/static/js/datatables/dataTables.bootstrap.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
{#<script src="/static/plugins/timepicker/bootstrap-timepicker.min.js"></script>#}
<script src="/static/js/jquery.timepicker.min.js"></script>