{% load website_extras %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Barbex Technical Services Ltd.</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css">
    {# <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css"> #}
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/datatables/buttons.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/static/css/chosen.min.css">
    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>

    {# DataTables #}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables/dataTables.tableTools.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables/dataTables.bootstrap.css">

    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/plugins/daterangepicker/moment.js"></script>
    <script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/static/js/panel.app.js?_={{ "test" | timestamp }}"></script>

    {# Morris Charts #}
    <link rel="stylesheet" type="text/css" href="/static/css/morris.css" />

    <link rel="icon" href="/static/images/favicon.png" />

    <style type="text/css">
        /* Green check. */
        .glyphicon-ok {
            color: #007700;
        }
        /* Red X. */
        .glyphicon-remove {
            color: #cc0000;
        }
    </style>

    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
</head>