            <div id="employee_attendance_panel" style="padding: 10px" class="hide">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if attendance %}
                                    <h3>{{ attendance.count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>Employee Attendance</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>

                <div class="row">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Employee Attendance Log</h3>
                        </div>
                        <div class="box-body">
                            <table id="employee-attendance-list" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Reporting Time</th>
                                        <th>Closing Time</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for employee in employees %}
                                        <tr>
                                            <td>{{ employee.id }}</td>
                                            <td>{{ employee.date }}</td>
                                            <td>{{ employee.user.first_name }} {{ employee.user.surname }}</td>
                                            <td>{{ employee.reporting_time }}</td>
                                            <td>{{ employee.closing_time }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Reporting Time</th>
                                        <th>Closing Time</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
