            <div id="employee_department_panel" style="padding: 10px" class="hide">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                {% if departments %}
                                    <h3>{{ departments.count }}</h3>
                                {% else %}
                                    <h3>0</h3>
                                {% endif %}
                                <p>Departments</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">

                    </div>
                </div>

                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">List of Departments</h3>
                        </div>
                        <div class="box-body">
                            <table id="employee-department-list" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Department Head</th>
                                        <th>Purpose</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for department in departments %}
                                        <tr>
                                            <td>{{ department.id }}</td>
                                            <td>{{ department.name }}</td>
                                            <td>{{ department.head }}</td>
                                            <td>{{ department.purpose }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Department Head</th>
                                        <th>Purpose</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
